body {
    background-color: #777777;
    text-align: center;
}

header, nav {
    background: #eaeaea;
    width: 80%;
    padding: 30px;
    margin-top: 10px;
    margin-left: 10%;
}

 {

}

section {

}

h1, h2, h3 {

}

p {

}

aside {

}

footer {

}


/*
header {
    background-color: blue;
    height: 100px;
    border-bottom: 2px solid #cccccc;
}

h1, h2 {
    padding: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    background: #1abc9c;
    color: white;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer {
    border-top: 5px solid #1abc9c;
    background-color: #666666;
    color: white;
    padding: 5px;
    text-align: center;
}

.container {
    
    margin-right: 20%;
    margin-top: 10px;
    
    background-color: #ffffff;
}

.photo {
    width: 5%;
    height: 5%;
    float: left;
}

#banner {
    width: 80%;    
}

#links {
    text-align: right bottom;
    color: grey;
    font-size: 15px;
}

#myname {
    color: white;
}

