/*
Your CSS should have styles for each of the following elements:

Body
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
color: '#777'
background: '#777'
width: '960px'
font-size: '18px'

Header, Nav, Section, Aside, and Footer
background: '#ebebeb'

Article
color: '#ebebeb',
background: '#777'

h1 and p
color: '#777',
background: '#ebebeb'

The width of the section should be:
section: 495px
*/

body {
    background: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: '18px';
    text-align: center;
    width: '960px';
}

header, nav, footer {
    background: #ebebeb;
    width: 864px;
    margin-top: 10px;
    margin-left: 148px;
    padding: 30px;
}

/* Clearfix Div contains Section, Aside to prevent wrapping */
.clearfix {
    height: 270px;
    width: 864px;
    margin-top: 20px;
    margin-left: 148px;
    margin-bottom: 20px;
}

/* Section floats left */
section {
    background: #ebebeb;
    height: 270px;
    width: 495px;
    margin-right: 10px;
    padding-top: 30px;
    padding-bottom: 0px;
    float: left;
}

article {
    background: #777777;
    color: #ebebeb;
    height: 190px;
    width: 475px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 15px;
    padding-bottom: 5px;
}

h1, p {
    background: #ebebeb;
    color: #777777;
    font-size: 18px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 15px;
}

/* Aside floats next to Section */
aside {
    background: #ebebeb;
    height: 270px;
    width: 349px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 30px;
    float: left;
}

/* Clearfix clears float to allow full Footer */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* ### copyright 2019 Dean A McCluskey